# Исполняемые файлы (результаты компиляции)
test_elf
*.out
*.o


# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Настройки VS Code
.vscode/

# Файлы macOS
.DS_Store

# Файлы с секретами (если появятся)
.env
